.card-principle {
    .container {
        display: grid;
    }
    background-color: rgba(0, 0, 0, 0.1);
    img {
        max-width: 500px;
    }
    .card-info {
        padding: $font-size $font-size * 2;
        h1,
        p {
            margin-bottom: $font-size;
        }
        h1 {
            font-size: $font-size * 2;
        }
    }
}

.gird-cards {
    padding: $font-size * 2;
    .container {
        display: grid;
        gap: $font-size * 2;
    }
}

.card-post {
    @include shadow;
    border-radius: $font-size;
    overflow: hidden;
    .card-info {
        padding: $font-size;
        h1,
        p {
            margin-bottom: $font-size;
        }
        h1 {
            font-size: $font-size * 1.5;
        }
    }
}

@media screen and (min-width: 680px) {
    .card-principle {
        padding: $font-size * 4 $font-size * 2;
        .container {
            grid-template-columns: 1fr 1fr;
            gap: $font-size * 2;
        }
    }
    .gird-cards {
        padding: $font-size * 4;
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $font-size * 4;
        }
    }
}

@media screen and (min-width: 1200px) {
    .gird-cards {
        .container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}